* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  }
a{
  text-decoration: none;
  }
a img {
  border: none;
  }
  
button,
a {
  cursor: pointer;
  color: inherit;
  }
  
textarea {
  resize: none;
  }
  
button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
  }

/*End of CSS reset*/

#root{
  display: grid;
  grid-template-rows: auto; 
  grid-template-columns: 30% 30% 30%;  
  /* grid-template: auto / 30% 30% 30% ; */
  grid-template-areas: 
    "head head img"
    "main main main";
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-content: center;
}


.top {
  border: 1px solid black;
  background-color: rgb(245, 224, 166);
  text-align: center;
  }

#root > .top {
  grid-area: head;
}

#root > .main {
  grid-area: main;
}

#popcorn {
  grid-area: img;
  z-index: 100;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 224, 166);
}


.card {
  border: 1px solid black;
  text-align: center;
  background-color: rgb(250, 244, 244);
  padding: 15px;
}