* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  }
a{
  text-decoration: none;
  }
a img {
  border: none;
  }
  
button,
a {
  cursor: pointer;
  color: inherit;
  }
  
textarea {
  resize: none;
  }
  
button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
  }

/*End of CSS reset*/

#root{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
    "head head head"
    "main main main";
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-content: center;
  /* display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px; */
}


.top {
  background-color: aqua;
  }

#root > .top {
  grid-area: head;
}

#root > .main {
  grid-area: main;
}


.card {
  grid-template-rows: auto;
  border: 2px dotted black;
  /* flex-grow: 1;
  flex-basis: 25%;
  
  text-align: center;
  background-color: snow;
  padding: 15px; */
}